 /* making the header design */
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

body {
  background-image: url("../images/Header-bg.png");
  background-size: cover;
}
* {
  font-family: "poppins" !important;
}
.header {
  display: flex;
  padding: 5px;

  flex-wrap: wrap;
}
.header .logo {
  flex:3;
}
.header .logo .logo-title {
  color: #6070FF;
}
.header .menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 
}
.header .menu ul {
  margin: 0px;
  padding: 0px;
}
.header .menu ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}
.header .menu ul li a {
  text-decoration: none;
  color: #344563;
}

/* making the body design******************/

.body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-self: center;
  justify-self: center;
  width: 70%;
}
.body .title {
  font-size: 48px;
  line-height: 60px;
}
.body .content p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.body .connection a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  
}
.body .social-network a {
  text-decoration: none;
  margin: 8px;
  margin-left: 0px;
}